<div appTitles>
    Alumnos
</div>

<div class="flex justify-content-end mb-3">
    <button (click)="onCreate()" mat-button>Agregar</button>
</div>


<table mat-table [dataSource]="students" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="legajo">
        <th mat-header-cell *matHeaderCellDef> Legajo </th>
        <td mat-cell *matCellDef="let element"> {{element.legajo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef> Genero </th>
        <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element | fullName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy hh:mm'}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
            <button [routerLink]="element.id" mat-icon-button color="accent">
                <mat-icon>visibility</mat-icon>
            </button>
            <button (click)="onDelete(element.id)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
            <button (click)="onEdit(element)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
    (page)="onPage($event)" 
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
</mat-paginator>