<div appTitles>
    Cursos
</div>

<div *ngIf="isRoleAdmin">
    <div class="flex justify-content-end mb-3">
        <button (click)="onCreate()" mat-flat-button type="button" color="primary">Agregar</button>
    </div>
</div>

<table mat-table [dataSource]="courses" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>  

    <!-- Name Column -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy hh:mm'}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
            <button [routerLink]="element.id" mat-icon-button color="accent">
                <mat-icon>visibility</mat-icon>
            </button>
            <span *ngIf="isRoleAdmin">
                <button (click)="onDelete(element.id)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
                <button (click)="onEdit(element)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
    (page)="onPage($event)" 
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
</mat-paginator>