<mat-drawer-container class="dashboard.container" autosize>

  <mat-drawer #drawer class="dashboard-sidebar" mode="side">
    <mat-nav-list>
      <a 
        #homeLink="routerLinkActive"
        routerLinkActive
        [activated]="homeLink.isActive"
        routerLink="home" 
        mat-list-item>Inicio
      </a>
      <a 
        #usersLink="routerLinkActive"
        routerLinkActive
        [activated]="usersLink.isActive"
         routerLink="users" 
        mat-list-item>Usuarios
      </a>
      <a 
        #studensLink="routerLinkActive"
        routerLinkActive
        [activated]="studensLink.isActive"
        routerLink="students" 
        mat-list-item>Alumnos
      </a>
      <a 
        #coursesLink="routerLinkActive"
        routerLinkActive
        [activated]="coursesLink.isActive"
        routerLink="courses" 
        mat-list-item>Cursos
      </a>
      <a (click)="logout()" mat-list-item>Cerrar sesion</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
      <mat-toolbar color="primary">
          <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Academia Natural</span>
      </mat-toolbar>

      <div class="p-3">
          <router-outlet></router-outlet>
      </div>

  </div>

</mat-drawer-container>
  