.dashboard-container {
    height: 100vh;
}

.main-container {
    width: 100%;
    height: calc(100vh - 70px);
}

.main-sidenav-content {
    height: 100%;
    padding: 20px;
}

.main-sidenav {
    padding: 20px;
}
